// SPDX-License-Identifier: GPL-2.0
/dts-v1/;
#include "pmb8876.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/pmb887x.h>
#include "ke970-pins.h"

/ {
	model = "LG KE970";
	compatible = "lg,ke970", "infineon,pmb8876";
	
	aliases {
		serial0 = &usart0;
		serial1 = &usart1;
	};
	
	chosen {
		bootargs = "earlycon=asc,0xf1000000 console=asc,0xf1000000 ignore_loglevel";
		stdout-path = "serial0:115200n8";
	};
	
	/* RAM */
	memory@b0000000 {
		device_type = "memory";
		reg = <0xb0000000 0x2000000>;
	};
};

/* Usart at "nano" connector */
&usart0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&usart0_pins>;
};

/* Usart for debug */
&usart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&usart1_pins>;
};

&gpio {
	gpio-line-names = "KP_IN0", "KP_IN1", "KP_IN2", "KP_IN3", "KP_IN4", "KP_IN5", "KP_IN6", "KP_OUT0", "KP_OUT1",
		"KP_OUT2", "KP_OUT3", "USART0_RXD", "USART0_TXD", "USART0_RTS", "USART0_CTS", "SCROLL_KEY_A",
		"USART1_RXD", "USART1_TXD", "HSO_SEL", "AUDIO_AMP_EN", "USB_DPLUS", "USB_DMINUS", "SSC1_MRST",
		"DIF_D2", "DIF_D0", "DIF_CD", "DIF_CS1", "DIF_RESET1", "I2C_SCL", "I2C_SDA", "DIF_D1", "PIN31",
		"PIN32", "PIN33", "PIN34", "PIN35", "PIN36", "PIN37", "I2S1_WA0", "USB_CHG_EN", "MMCI_DAT2",
		"MMCI_DAT3", "PIN42", "T_OUT0", "T_OUT1", "T_OUT2", "T_OUT3", "T_OUT4", "T_OUT5", "T_OUT6", "T_OUT7",
		"JACK_DETECT", "LCD_BACKLIGHT", "T_OUT10", "T_OUT11", "AF_PWR_EN", "RF_STR0", "RF_STR1", "SLIDE_OPEN",
		"RF_CLK", "PIN60", "BT_RESET", "SCROLL_KEY_B", "SIM_EN", "PIN64", "PIN65", "PIPESTAT2", "PIPESTAT1",
		"PIPESTAT0", "TRACEPKT0", "TRACEPKT1", "TRACEPKT2", "TRACEPKT3", "TRACEPKT4", "PIN74", "PIN75", "PIN76",
		"FCDP_RB", "CIF_D0", "CIF_D1", "CIF_D2", "CIF_D3", "CIF_D4", "CIF_D5", "CIF_D6", "CIF_D7", "CIF_PCLK",
		"CIF_HSYNC", "CIF_VSYNC", "CLKOUT2", "CIF_RESET", "DIF_D3", "DIF_D4", "DIF_D5", "DIF_D6", "DIF_D7",
		"LCD_IF_MODE", "DIF_WR", "HOOK_DETECT", "MMCI_DAT1", "DIF_VD", "PIN101", "PIN102",
		"SLIDE_KEY_BACKLIGHT", "MMCI_CMD", "MMCI_DAT0", "MMCI_CLK", "USIF_TXD_MTSR", "PIN108", "SCROLL_EN",
		"RPWRON", "SPK_RCV_SEL", "I2S1_CLK1", "CIF_PD";

	usart0_ctrl_pads: usart0_ctrl-pads {
		pmb887x,pads = <
			PMB887X_PAD(PMB887X_PIN_USART0_RTS, PMB887X_ENAQ_ON)
			PMB887X_PAD(PMB887X_PIN_USART0_CTS, PMB887X_IS_ALT0 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
		>;
	};

	usart1_ctrl_pads: usart1_ctrl-pads {
		pmb887x,pads = <
			PMB887X_PAD(KE970_PIN_HSO_SEL, PMB887X_PS_MANUAL | PMB887X_DATA_HIGH | PMB887X_DIR_OUT | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(KE970_PIN_AUDIO_AMP_EN, PMB887X_PS_MANUAL | PMB887X_DATA_HIGH | PMB887X_DIR_OUT | PMB887X_PDPU_PULLUP)
		>;
	};

	keypad_pads: keypad-pads {
		pmb887x,pads = <
			PMB887X_PAD(PMB887X_PIN_KP_IN0, PMB887X_IS_ALT0 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_KP_IN1, PMB887X_IS_ALT0 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_KP_IN2, PMB887X_IS_ALT0 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_KP_IN3, PMB887X_IS_ALT0 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_KP_IN4, PMB887X_IS_ALT0 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_KP_IN5, PMB887X_IS_ALT0 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_KP_IN6, PMB887X_PS_MANUAL | PMB887X_DIR_OUT)
			PMB887X_PAD(PMB887X_PIN_KP_OUT0, PMB887X_OS_ALT0 | PMB887X_PPEN_OPENDRAIN)
			PMB887X_PAD(PMB887X_PIN_KP_OUT1, PMB887X_OS_ALT0 | PMB887X_PPEN_OPENDRAIN)
			PMB887X_PAD(PMB887X_PIN_KP_OUT2, PMB887X_OS_ALT0 | PMB887X_PPEN_OPENDRAIN)
			PMB887X_PAD(PMB887X_PIN_KP_OUT3, PMB887X_OS_ALT0 | PMB887X_PPEN_OPENDRAIN)
		>;
	};

	dif_pads: dif-pads {
		pmb887x,pads = <
			PMB887X_PAD(PMB887X_PIN_DIF_D2, PMB887X_OS_ALT0 | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_DIF_D0, PMB887X_OS_ALT0 | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_DIF_CD, PMB887X_OS_ALT0 | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_DIF_CS1, PMB887X_OS_ALT0 | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_DIF_RESET1, PMB887X_OS_ALT0 | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_DIF_D1, PMB887X_OS_ALT0 | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(KE970_PIN_USB_CHG_EN, PMB887X_IS_ALT0 | PMB887X_OS_ALT0 | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_DIF_D3, PMB887X_OS_ALT0 | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_DIF_D4, PMB887X_OS_ALT0 | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_DIF_D5, PMB887X_OS_ALT0 | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_DIF_D6, PMB887X_OS_ALT0 | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_DIF_D7, PMB887X_OS_ALT0 | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(KE970_PIN_LCD_IF_MODE, PMB887X_PS_MANUAL | PMB887X_DATA_HIGH | PMB887X_DIR_OUT)
			PMB887X_PAD(PMB887X_PIN_DIF_WR, PMB887X_OS_ALT0)
			PMB887X_PAD(KE970_PIN_HOOK_DETECT, PMB887X_IS_ALT1 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_DIF_VD, PMB887X_IS_ALT0 | PMB887X_PDPU_PULLDOWN)
		>;
	};

	mmc_pads: mmc-pads {
		pmb887x,pads = <
			PMB887X_PAD(PMB887X_PIN_MMCI_DAT2, PMB887X_IS_ALT0 | PMB887X_OS_ALT0 | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_MMCI_DAT3, PMB887X_IS_ALT0 | PMB887X_OS_ALT0 | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_MMCI_DAT1, PMB887X_PS_MANUAL | PMB887X_DATA_HIGH | PMB887X_DIR_OUT | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_MMCI_CMD, PMB887X_OS_ALT0)
			PMB887X_PAD(PMB887X_PIN_MMCI_DAT0, PMB887X_OS_ALT0)
			PMB887X_PAD(PMB887X_PIN_MMCI_CLK, PMB887X_IS_ALT0 | PMB887X_OS_ALT0)
		>;
	};

	cif_pads: cif-pads {
		pmb887x,pads = <
			PMB887X_PAD(PMB887X_PIN_CIF_D0, PMB887X_IS_ALT0 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_CIF_D1, PMB887X_IS_ALT0 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_CIF_D2, PMB887X_IS_ALT0 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_CIF_D3, PMB887X_IS_ALT0 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_CIF_D4, PMB887X_IS_ALT0 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_CIF_D5, PMB887X_IS_ALT0 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_CIF_D6, PMB887X_IS_ALT0 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_CIF_D7, PMB887X_IS_ALT0 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_CIF_PCLK, PMB887X_IS_ALT0 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_CIF_HSYNC, PMB887X_IS_ALT0 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_CIF_VSYNC, PMB887X_IS_ALT0 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_CIF_RESET, PMB887X_PS_MANUAL | PMB887X_DATA_HIGH | PMB887X_DIR_OUT)
			PMB887X_PAD(PMB887X_PIN_CIF_PD, PMB887X_OS_ALT0)
		>;
	};

	t_out_pads: t-out-pads {
		pmb887x,pads = <
			PMB887X_PAD(PMB887X_PIN_T_OUT0, PMB887X_OS_ALT0)
			PMB887X_PAD(PMB887X_PIN_T_OUT1, PMB887X_PS_MANUAL | PMB887X_DIR_OUT | PMB887X_PDPU_PULLDOWN)
			PMB887X_PAD(PMB887X_PIN_T_OUT2, PMB887X_OS_ALT0 | PMB887X_PDPU_PULLDOWN)
			PMB887X_PAD(PMB887X_PIN_T_OUT3, PMB887X_OS_ALT0 | PMB887X_PDPU_PULLDOWN)
			PMB887X_PAD(PMB887X_PIN_T_OUT4, PMB887X_OS_ALT0 | PMB887X_PDPU_PULLDOWN)
			PMB887X_PAD(PMB887X_PIN_T_OUT5, PMB887X_PS_MANUAL | PMB887X_DIR_OUT)
			PMB887X_PAD(PMB887X_PIN_T_OUT6, PMB887X_OS_ALT0 | PMB887X_PDPU_PULLDOWN)
			PMB887X_PAD(PMB887X_PIN_T_OUT7, PMB887X_OS_ALT1 | PMB887X_PPEN_OPENDRAIN)
			PMB887X_PAD(KE970_PIN_JACK_DETECT, PMB887X_IS_ALT4 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(KE970_PIN_LCD_BACKLIGHT, PMB887X_OS_ALT2)
			PMB887X_PAD(PMB887X_PIN_T_OUT10, PMB887X_PS_MANUAL)
			PMB887X_PAD(PMB887X_PIN_T_OUT11, PMB887X_PS_MANUAL | PMB887X_DIR_OUT)
			PMB887X_PAD(KE970_PIN_AF_PWR_EN, PMB887X_PS_MANUAL | PMB887X_DIR_OUT)
		>;
	};

	rf_pads: rf-pads {
		pmb887x,pads = <
			PMB887X_PAD(PMB887X_PIN_RF_STR0, PMB887X_OS_ALT0 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_RF_STR1, PMB887X_IS_ALT2)
			PMB887X_PAD(KE970_PIN_SLIDE_OPEN, PMB887X_IS_ALT2 | PMB887X_PPEN_OPENDRAIN)
			PMB887X_PAD(PMB887X_PIN_RF_CLK, PMB887X_OS_ALT1)
			PMB887X_PAD(PMB887X_PIN_CLKOUT2, PMB887X_OS_ALT0 | PMB887X_PDPU_PULLUP)
		>;
	};

	dsp_pads: dsp-pads {
		pmb887x,pads = <
			PMB887X_PAD(KE970_PIN_SCROLL_KEY_A, PMB887X_IS_ALT2 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(KE970_PIN_BT_RESET, PMB887X_PS_MANUAL | PMB887X_DIR_OUT)
			PMB887X_PAD(KE970_PIN_SCROLL_KEY_B, PMB887X_IS_ALT3 | PMB887X_PPEN_OPENDRAIN)
		>;
	};

	i2s_pads: i2s-pads {
		pmb887x,pads = <
			PMB887X_PAD(PMB887X_PIN_I2S1_WA0, PMB887X_OS_ALT0)
			PMB887X_PAD(KE970_PIN_SLIDE_KEY_BACKLIGHT, PMB887X_PS_MANUAL | PMB887X_DIR_OUT)
			PMB887X_PAD(PMB887X_PIN_I2S1_CLK1, PMB887X_PS_MANUAL | PMB887X_DIR_OUT)
		>;
	};

	misc_pads: misc-pads {
		pmb887x,pads = <
			PMB887X_PAD(PMB887X_PIN_SSC1_MRST, PMB887X_IS_ALT2 | PMB887X_PPEN_OPENDRAIN)
			PMB887X_PAD(PMB887X_PIN_PIN31, PMB887X_PS_MANUAL | PMB887X_DIR_OUT)
			PMB887X_PAD(PMB887X_PIN_PIN32, PMB887X_PS_MANUAL | PMB887X_DIR_OUT | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_PIN33, PMB887X_PS_MANUAL | PMB887X_DIR_OUT | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_PIN34, PMB887X_PS_MANUAL | PMB887X_DIR_OUT)
			PMB887X_PAD(PMB887X_PIN_PIN35, PMB887X_OS_ALT0)
			PMB887X_PAD(PMB887X_PIN_PIN36, PMB887X_IS_ALT0 | PMB887X_PPEN_OPENDRAIN)
			PMB887X_PAD(PMB887X_PIN_PIN37, PMB887X_OS_ALT0)
			PMB887X_PAD(PMB887X_PIN_PIN42, PMB887X_IS_ALT0 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLDOWN)
			PMB887X_PAD(PMB887X_PIN_PIN60, PMB887X_OS_ALT0)
			PMB887X_PAD(PMB887X_PIN_FCDP_RB, PMB887X_IS_ALT0 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_PIN101, PMB887X_IS_ALT2 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_PIN102, PMB887X_PS_MANUAL | PMB887X_DIR_OUT)
			PMB887X_PAD(PMB887X_PIN_USIF_TXD_MTSR, PMB887X_OS_ALT0 | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(PMB887X_PIN_PIN108, PMB887X_IS_ALT0 | PMB887X_PPEN_OPENDRAIN | PMB887X_PDPU_PULLUP)
			PMB887X_PAD(KE970_PIN_SCROLL_EN, PMB887X_PS_MANUAL)
			PMB887X_PAD(KE970_PIN_RPWRON, PMB887X_PS_MANUAL | PMB887X_PPEN_OPENDRAIN)
			PMB887X_PAD(KE970_PIN_SPK_RCV_SEL, PMB887X_PS_MANUAL | PMB887X_DIR_OUT | PMB887X_PDPU_PULLUP)
		>;
	};

};
