# SPDX-License-Identifier: GPL-2.0-only
menuconfig ARCH_PMB887X
	bool "Infineon PMB887x SoCs"
	depends on ARCH_MULTI_V5
	depends on CPU_LITTLE_ENDIAN
	select ARM_AMBA
	select HAVE_TCM
	select PMB887X_TPU
	select PMB887X_STM
	select PINCTRL
	select PINCTRL_PMB887X

if ARCH_PMB887X

config MACH_PMB887X
	bool "Infineon PMB887X family"
	help
	  Select this if you are using an Infineon PMB887X
	  families.

endif
